<div class="jumbotron">
    <h1 class="text-center">Aplication Test : Cadastro</h1>
</div>

<div class="page-header text-center">
    <h1>{{foto.titulo}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
    <div class="col-sm-6" >
        <div class="form-group" ng-show="ExibeId">
            <label>Código</label>
            <input name="_id" class="form-control" ng-model="foto._id">    
        </div>

        <div class="form-group" >
            <label>Nome</label>
            <input name="titulo" class="form-control" ng-model="foto.titulo" required ng-maxlength="30" >    
            <span ng-show = "formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger">
                Nome obrigatório
            </span> 
            <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger">
                No máximo 30 caracteres!
            </span>     
        </div>

        <div class="form-group">
            <label>Telefone</label>
            <input name="telefone" class="form-control" ng-model="foto.telefone" required ng-minlength="11" >    
            <span ng-show = "formulario.$submitted && formulario.telefone.$error.required" class="form-control alert-danger">
                Telefone obrigatório
            </span> 
            <span ng-show="formulario.$submitted && formulario.telefone.$error.minlength" class="form-control alert-danger">
                No mínimo 11 caracteres!
            </span>     
        </div>

        <div class="form-group">
            <label>Foto</label>
            <input name="url" class="form-control" ng-model="foto.url" required>
            <span ng-show = "formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger">
                Foto é obrigatória
            </span>   
        </div>
        
        <div class="form-group">
            <label>Descrição</label>
            <textarea name="descricao" class="form-control" ng-model="foto.descricao">
            </textarea>
        </div>

        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
         <a href="/" class="btn btn-primary">Voltar</a>
        <hr>
    </div>
    <div class="col-sm-6">
        <minha-foto url='{{foto.url}}' titulo='{{foto.titulo}}'></minha-foto>
    </div>
</form>