<div class="jumbotron">
    <h1 class="text-center">Aplication Test</h1>
</div>
<p ng-show="mensagem.length" class="alert alert-info"> {{mensagem}} </p>

<div class="row">
    <div class="col-sm-12">
        <form>
            <div class="input-group">
                    <span class="input-group-btn">
                        <a href="/fotos/new" class="btn btn-primary" type="button"> Nova Foto </a>
                    </span>
                    <input class="form-control" placeholder="filtrar pelo nome" ng-model="filtro.titulo" ng-model-options="{ debounce: 400 }">
            </div> 
        </form>
    </div>
</div>

<div class="clearfix"></div>
</br>

<div class="row">
    <meu-painel class="col-xs-6 col-sm-4 col-md-3 col-lg-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
         <a class="btn btn-primary btn-block" href="/fotos/edit/{{foto._id}}"> Editar </a>
        <button class="btn btn-danger btn-block" ng-click="remover(foto)">Remover</button>
    </meu-painel>
    
    <div class="clearfix"></div>
    </br>
    <h2 class="text-center">Listagem</h2>

   <table class="table table-striped">
        <thead>
            <tr>
                <th>Count.</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Foto</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="foto in fotos | filter: filtro"  >
                    <td>{{ $index + 1 }}</td>
                    <td>{{ foto.titulo }}</td>
                    <td>{{ foto.telefone }}</td>
                    <td> <img class="img-responsive center-block miniatura" ng-src="{{foto.url}}" ></td>
                    <td> <a class="btn btn-primary btn-block" href="/fotos/edit/{{foto._id}}"> Editar </a> </td>
                    <td> <button class="btn btn-danger btn-block" ng-click="remover(foto)">Remover</button></td>
            </tr>
        </tbody>
    </table>
</div>